html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

:root {
	--bg: #282828;
	--bg0_h: #1d2021;
	--bg0: #282828;
	--bg1: #3c3836;
	--bg2: #504945;
	--bg3: #665c54;
	--bg4: #7c6f64;
	--red: #cc241d;
	--green: #98971a;
	--yellow: #d79921;
	--blue: #458588;
	--purple: #b16286;
	--aqua: #689d6a;
	--gray: #a89984;
	--orange: #d65d0e;
	--fg: #ebdbb2;
	--fg0: #fbf1c7;
	--fg1: #ebdbb2;
	--fg2: #d5c4a1;
	--fg3: #bdae93;
	--fg4: #a89984;
}

html {
	min-height: 100%;
	background-color: var(--bg);
	color: var(--fg0);
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
}

#content {
	min-height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: 12vw 1fr;
	grid-template-rows: 3rem 1fr;
}

#content,
.workspaces,
.toolbar,
.todos {
	padding: 5px;
}

.workspaces {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.workspaces>div {
	display: flex;
	align-items: center;
	gap: 5px;
	height: 2rem;
}

.workspace {
	width: 6vw;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

button {
	background-color: var(--orange);
	color: var(--fg0);
	border: none;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	min-width: 1rem;
}

button:hover,
.workspaces>div:hover {
	filter: brightness(90%);
}

button:active,
.workspaces>div:active {
	filter: brightness(75%);
}

img {
	filter: invert();
	height: 1rem;
	width: auto;
	justify-content: center;
	align-self: center;
}

.red {
	background-color: var(--red);
}

.green {
	background-color: var(--green);
}

.yellow {
	background-color: var(--yellow);
}

.blue {
	background-color: var(--blue);
}

.purple {
	background-color: var(--purple);
}

.aqua {
	background-color: var(--aqua);
}

.workspaces>div,
button {
	border-radius: 15px;
	padding: 5px 10px;
	font-weight: 700;
	cursor: pointer;
}

.workspaces button {
	display: none;
}

.workspaces:hover button {
	display: flex;
}

.workspace+button,
.workspace img {
	position: relative;
	z-index: 1;
}

.workspace+p {
	display: none;
}

.workspace:hover+p {
	display: block;
	background-color: var(--bg1);
	border: var(--fg4) 2px solid;
	border-radius: 15px;
	font-size: 0.8rem;
	padding: 5px;
	position: absolute;
	left: 12vw;
	z-index: 2;
}

.toolbar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 5px;
}

.todos {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 5px;
}

.todoCont {
	width: 12vw;
	padding: 5px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.todoCont>* {
	overflow-wrap: break-word;
}

.todoCont>div:last-child {
	display: flex;
	align-items: center;
	justify-content: space-between;
}